pandas>=2.1.4
numpy>=1.24.3
plotly>=5.17.0
sidrapy 
matplotlib>=3.7.0
flask>=2.3.0
lxml
html5lib
beautifulsoup4
requests
geopandas==0.13.2
folium==0.14.0
fiona==1.9.4
jinja2==3.1.2
werkzeug==2.3.6
gunicorn==21.2.0
