body {
    background: #004997;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    width: 100%;
    box-sizing: border-box;
}nav{
    display: flex;
    gap: 30px;
}#img {
    width: 81px;
    height: 63px;
}header p {
    color: white;
    font-size: 24px;
    font-weight: 700;
    margin: 0; 
    cursor: pointer;
}
