html {
    background: linear-gradient(90deg, #004997 42.79%, #163659 69.23%);
 }
 header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background: linear-gradient(90deg, #004997 21.15%, #032B56 100%);
     height: 60px;
     text-align: center;
 }
 body {
     margin: 0;
     padding: 0;
 
 }  
 ul {
     list-style-type: none;
     margin: 10px;
     padding: 10px;
     overflow: hidden;
     list-style-type: none;
     display: block;
     align-items: center;
 }
   
 ul li {
     float: inline-end;
     display: inline-flex;
     padding: 1em 1rem 1rem 1rem;
     justify-content: center;
     align-items: center;
     gap: 500rem;
 }
 
 ul li a {
     display: flex;              
     justify-content: center;    
     align-items: center;       
     color: #ffffff;
     border: none;
     cursor: pointer;
     border-radius: 15px;
     width: 90px;
     height: 35px;
     transition: 0.5s;
     text-decoration: none;        
     padding: 4px;
     font-weight: bold;
 }
   
 ul li a:hover {
     box-shadow: 0 0 0 2px  #FFBA00;
     color: #FFBA00;
 } 
 
 
 
 .img {
     display: flex;               
     justify-content: center;     
     align-items: center;        
     gap: 80px;                
     padding: 30px;
     text-align: left; 
     flex-direction: row-reverse; 
     width: fit-content;
     height: 35rem;
 }
   
 .img img {
     width: 350px;               
     height: auto;               
     display: block;
 }
   
 .texto {
     max-width: 22%;             
     color: white;
     display: grid;
 
 }
 .button {
     display: inline-flex;         
     justify-content: center;
     align-items: center;
     padding: 0.625rem 1.25rem;   
     gap: 0.625rem;
 
     color: #00418C;             
     background-color: #FFBA00;  
     font-family: Poppins, sans-serif;
     font-size: 1rem;
     font-weight: 700;
 
     border: none;                
     border-radius: 0.5rem;        
     cursor: pointer;            
     transition: background 0.3s;  
 }
 
 .button:hover {
     box-shadow: 0 0 0 2px  white;
     color: #00418C;   
 }
 
