@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Poppins;
    font-size: 100%;
}

header {
    background: linear-gradient(90deg, #004997 42.79%, #163659 69.23%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 40px;
    justify-content: space-between;
}

.cabecalho-logo {
    height: 70px;
}

.cabecalho-menu {
    display: flex;
    gap: 30px;
}

.cabecalho-menu-item {
    font-weight: 700;
    font-size: 24px;
    color: #FFF;
}
