{% extends "index.html"   %}
{% block title %}<title>CodeWave: Principais Indicadores</title>{% endblock %}

{% block main %}
  <main>
        <section class="pagina-secundaria">
            <h1>Alguns dos principais indicadores de São José dos Campos</h1>
            <div class="pagina-secundaria-conteudo">
                <h2>População por grupo etário</h2>
               <div class="container-fluid w-75" > {{grap_etario|safe}} </div>
                <h2>População por grupo quinzenal</h2>
              <div class="container-fluid w-75" > {{grap_piramid|safe}} </div>
                <h2>População por bairro</h2>
                <div class="container-fluid w-75" > {{grap_setor|safe}} </div>
                <h2>População e domicílios por região</h2>
                <div class="container-fluid w-75" > {{grap_domi|safe}} </div>
            </div>
        </section>
    </main>
 


{% endblock  %}
