{% extends "index.html"   %}


{% block main %}
  <main>
        <section class="pagina-secundaria">
            <h1>Alguns dos principais indicadores de São José dos Campos</h1>
            <div class="pagina-secundaria-conteudo">
                <h2>População por grupo etário</h2>
                <img src="./static/graf_pop_etario.jpg" alt="Gráfico população por grupo etário">
                <h2>População por grupo quinzenal</h2>
                <img src="./static/graf_pop_quin.jpg" alt="Gráfico população por grupo quinzenal">
                <h2>População por bairro</h2>
                <img src="./static/graf_pop.jpg" alt="Gráfico população por bairro">
                <h2>População e domicílios por região</h2>
                <img src="./static/graf_pop_dom.jpg" alt="Gráfico população e domicílios por região">
            </div>
        </section>
    </main>
 


{% endblock  %}
